@import url(knacss.css);
body
{
	display:flex;
	flex-direction: column;
	margin: 0 auto;
}

/* @author : Prénom NOM */
/* @date : 25/12/2016 */
/* @bugfix : erreur à régler */
/* @todo : à faire */
/* @note :  */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- couleurs
2- base styles
3- nav
3- header
4- main
5- aside
6- contact
7- footer
8- adaptive web design
*/

/* ----------------------------- */
/* ==couleurs */
/* ----------------------------- */


/* ----------------------------- */
/* ==base styles */
/* ----------------------------- */
/* importation style de base avec @import url(knacss.css); */


/* ----------------------------- */



/* ----------------------------- */
/* ==header */
/* ----------------------------- */
header
{
	background-image: url("../spec/index_fond.png");
	width: 100%;
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
/*	background-size: cover;*/

}
#index
{
	background-image: url("../spec/index.png");
	width:100%;
	min-height: 350px;
	background-position: center center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
}

/*#pic1{
	margin-left: 40%;
}*/



/* ----------------------------- */
/* ==main */
/* ----------------------------- */

[class*="col"] 
 { 
 	border:2px solid white;
 display: inline-block;
	
 }
 #main
 {
 	width: 80%;
 	margin:auto 10%;
 }
 #contenu
 {
 	width: 80%;
 	margin: 0 10%;
 }
 .number
 {
 	transform: rotate(330deg);
 	background-color:white;
 	height: 40px;
 	width: 40px;
 	align-self: flex-start;
 	justify-content: space-between;
 	margin-left: -10px;
 	text-align: center;
 	font-size: 24px;
 	margin:10px 5px;
 }
.text1{
	padding-top: 5%;
	padding-left: 2.5%;
}
hr
{
	/*transform: rotate(90deg);*/
	color:white;

}
.text2
{ 
	align-self: center;
} 
#col1
{

	 background-image: url("../image/Pic1.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
/*	 display: flex;
	 flex-direction: column;
	 align-items: center;*/
}

#col2
{
	 background-image: url("../image/Pic2.png");
	 min-height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col3
{
	 background-image: url("../image/Pic3.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col4
{
	 background-image: url("../image/Pic4.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col5
{
	 background-image: url("../image/Pic5.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col6
{
	 background-image: url("../image/Pic6.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col7
{
	 background-image: url("../image/Pic7.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col8
{
	 background-image: url("../image/Pic8.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col9
{
	 background-image: url("../image/Pic9.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col10
{
	 background-image: url("../image/Pic10.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col11
{
	 background-image: url("../image/Pic11.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col12
{
	 background-image: url("../image/Pic12.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col13
{
	 background-image: url("../image/Pic13.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col14
{
	 background-image: url("../image/Pic14.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col15
{
	 background-image: url("../image/Pic15.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col16
{
	 background-image: url("../image/Pic16.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col17
{
	 background-image: url("../image/Pic17.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col18
{
	 background-image: url("../image/Pic18.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col19
{
	 background-image: url("../image/Pic19.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col20
{
	 background-image: url("../image/Pic20.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col21
{
	 background-image: url("../image/Pic21.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col22
{
	 background-image: url("../image/Pic22.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col23
{
	 background-image: url("../image/Pic23.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
#col24
{
	 background-image: url("../image/Pic24.png");
	 height: 230px;
	 background-repeat: no-repeat;
	 background-size: cover;
}
/* ----------------------------- */
/* ==aside */
/* ----------------------------- */


/* ----------------------------- */
/* ==contact */
/* ----------------------------- */


/* ----------------------------- */
/* ==footer */
/* ----------------------------- */


/* ----------------------------- */
/* ==adaptive web design */
/* ----------------------------- */


